* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.header {
  width: 100%;
  height: 80px;
  display: block;
  background-color: #101010;
}
.inner_header {
  width: 425px;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: grey;
}
.logo_container {
  /* height:100%; */
  display: table;
  float: left;
}
.logo_container h1 {
  color: white;
  height: 100%;
  display: table-caption;
  vertical-align: middle;
  align-items: middle;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 64px;
  font-weight: 200;
}
.logo_container h1 span {
  font-weight: 800;
}
ul {
  list-style-type: none;
  overflow: hidden;
}
.navigation {
  float: right;
  height: 60%;
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 16px;
}
.navigation a:last-child {
  padding: 0px;
}
.navigation a li {
  display: table-cell;
  /*vertical-align: middle;*/
  height: 100%;
  color: #f69680;
  font-style: 10px;
  font-weight: 600;
}
a:hover li {
  background-color: beige;
}
